@charset "UTF-8";
.cn_review_wrap h2 {
    padding-bottom: 36px;
    color: #101010;
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    border-bottom: 4px solid #202020;
}

.cn_review_wrap .best_review {
    height: 628px;
    overflow: hidden;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap {
    overflow: hidden;
    height: 628px;
    padding: 48px 0 0;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .ui_carousel_list:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 48px;
    width: 206px;
    height: 535px;
    background: rgba(255,255,255,0.76);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.66) 96%);
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .ui_carousel_list .ui_carousel_track {
    display: flex;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .slide_conts {
    margin-right: 48px;
    vertical-align: top;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .item > a {
    display: block;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .item .img_wrap {
    position: relative;
    width: 520px;
    height: 324px;
    overflow: hidden;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .item .img_wrap .best_flag {
    position: absolute;
    top: 0;
    left: 20px;
    width: 66px;
    height: 66px;
    background-color: rgba(0,138,0,0.8);
    text-align: center;
    z-index: 5;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .item .img_wrap .best_flag .flag_txt {
    display: block;
    padding-top: 34px;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .item .img_wrap img {
    position: absolute;
    width: 100%;
    height: auto;
    margin: auto;
    top: 50%;
    left: 0;
    -ms-transform: translateY( -50% );
    -moz-transform: translateY( -50% );
    transform: translateY( -50% );
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .item .txt_wrap {
    width: 520px;
    height: 181px;
    margin-top: 16px;
}

/* 190909_수정 */
.cn_review_wrap .best_review .img_wrap.slide_wrap .item .tit {
    display: block;
    color: #101010;
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .item .etc_info {
    position: relative;
    padding-top: 8px;
    font-size: 0;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .item .etc_info .rating_wrap .rating_star {
    padding: 0;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .item .etc_info .star, .cn_review_wrap .best_review .img_wrap.slide_wrap .item .etc_info .star span {
    display: block;
    width: 132px;
    height: 24px;
    background: url('/cjkit/web/images/common/ico_set.png') no-repeat 0 -360px;
    background-size: 800px 800px;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .item .etc_info .star span {
    background-position: 0 -384px;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .item .etc_info .user_id {
    display: inline-block;
    color: #606060;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .item .etc_info .user_id:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 14px;
    margin: 0 10px;
    background-color: #e0e0e0;
    vertical-align: middle;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .item .txt {
    margin-top: 32px;
    color: #606060;
    font-size: 15px;
    line-height: 23px;
    overflow: hidden;
    max-height: 69px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -moz-line-clamp: 3;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .slide_arrow_wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 105px;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .slide_arrow_wrap .arr_area {
    position: relative;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .slide_arrow_wrap .btn_arrow {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url('/cjkit/web/images/common/ico_set.png') no-repeat;
    background-size: 800px 800px;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .slide_arrow_wrap .btn_arrow.prev {
    bottom: 0;
    left: 0;
    background-position: -540px 0;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .slide_arrow_wrap .btn_arrow.next {
    bottom: 0;
    right: 0;
    background-position: -564px 0;
}

.cn_review_wrap .best_review .img_wrap .count_wrap {
    position: absolute;
    right: 31px;
    bottom: 0;
    width: 42px;
    text-align: center;
    z-index: 2;
}

.cn_review_wrap .best_review .img_wrap .count_wrap .num {
    display: inline-block;
    color: #101010;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    vertical-align: middle;
    letter-spacing: 2px;
}

.cn_review_wrap .best_review .img_wrap .count_wrap .num strong {
    font-weight: 500;
}

.cn_review_wrap .review_bnr_wrap {
    margin-top: 48px;
}

.cn_review_wrap .best_review + .review_bnr_wrap {
    margin-top: 80px;
}

.cn_review_wrap .review_bnr_wrap > a {
    display: block;
}

.cn_review_wrap .review_bnr_wrap img {
    display: block;
    width: 100%;
}

.cn_review_wrap .review_bnr_wrap ~ .taste_list, .cn_review_wrap .best_review ~ .taste_list {
    padding-top: 80px;
}

.cn_review_wrap .review_bnr_wrap ~ .taste_list .box_search, .cn_review_wrap .best_review ~ .taste_list .box_search {
    border-top: 1px solid #202020;
}

.cn_review_wrap .taste_list h3 {
    padding-bottom: 16px;
    color: #101010;
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
}

.cn_review_wrap .taste_list .box_search {
    padding: 32px;
    background-color: #f7f7f7;
}

.cn_review_wrap .taste_list .top_sec {
    margin-top: 56px;
    padding-bottom: 16px;
    border-bottom: 2px solid #202020;
}

.cn_review_wrap .taste_list .top_sec .total {
    color: #101010;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
}

.cn_review_wrap .taste_list .top_sec .chk_wrap label {
    font-size: 16px;
    line-height: 24px;
}

.cn_review_wrap .chk_wrap input + label:before {
    margin-top: -5px;
}

.cn_review_wrap .taste_list .top_sec .list_sort {
    top: 0;
}

.cn_review_wrap .taste_review_list .review_module.photo .link_more .txt_wrap {
    width: 974px;
}

.cn_review_wrap .taste_review_list .review_module.open .link_more .img_left_wrap, .cn_review_wrap .taste_review_list .review_module.open .link_more .txt_wrap, .cn_review_wrap .taste_review_list .review_module.photo.open .link_more .txt_wrap {
    width: 100%;
}

.cn_review_wrap .taste_review_list .etc_info .user_id {
    display: inline-block;
    color: #606060;
    font-size: 14px;
    line-height: 22px;
    vertical-align: middle
}

.cn_review_wrap .taste_review_list .etc_info .user_id:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 14px;
    margin: 0 10px;
    background-color: #e0e0e0;
    vertical-align: middle
}

.cn_review_wrap .taste_review_list .no_data {
    border-bottom: 0;
}

.taste_review_list + .rvpo_guide {
    margin-top: 55px;
}

.taste_review_list + .rvpo_guide dl {
    width: 25%;
    padding-left: 11%;
}

.taste_review_list + .rvpo_guide dl.photo dd:after {
    left: 80px;
}

.taste_review_list + .rvpo_guide dd:after {
    left: 80px;
}

/* .rv_container_wrap{background:url('/cjkit/web/images/common/bg_rv_container.png') repeat-x 0 860px;} */
/* .family_wrap{background:#f7f7f7;overflow:hidden;} */
.family_wrap .slide_wrap .ui_carousel_list:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 206px;
    height: 635px;
    background: rgba(247,247,247,0.76);
    background: linear-gradient(90deg, rgba(247,247,247,0) 0%, rgba(247,247,247,0.66) 96%);
}

.family_wrap .tit_box {
    position: relative;
    margin-bottom: 42px;
}

.family_wrap .tit_box h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    border-bottom: 0;
    padding-bottom: 0;
}

.family_wrap .tit_box .btn_review {
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #101010;
    background: url('/cjkit/web/images/common/ico_instagram.svg') no-repeat 0 2px;
    padding-left: 26px;
}

.family_wrap .tit_box .btn_review:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('/cjkit/web/images/common/ico_arrow.svg') no-repeat 0 2px;
    vertical-align: top;
    margin-left: 4px;
}

.family_wrap .ui_carousel_track {
    display: flex;
}

.family_wrap .ui_carousel_track .slide_conts {
    width: 333px;
    margin-right: 16px;
    vertical-align: top;
}

.family_wrap .slide_conts .txt_wrap {
    position: relative;
    padding-top: 56px;
}

.family_wrap .slide_conts .txt_wrap:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 24px;
    width: 28px;
    height: 22px;
    background: url('/cjkit/web/images/common/ico_review.svg') no-repeat;
}

.family_wrap .slide_conts .txt_wrap .rv_tit {
    display: block;
    width: 314px;
    font-size: 20px;
    line-height: 30px;
    height: 60px;
    font-weight: 700;
    color: #101010;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
}

.family_wrap .slide_conts .txt_wrap .rv_txt {
    width: 314px;
    margin-top: 15px;
    font-size: 15px;
    line-height: 23px;
    color: #606060;
    height: 92px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -moz-line-clamp: 4;
    -ms-line-clamp: 4;
    -webkit-line-clamp: 4;
}

.family_wrap .slide_conts .txt_wrap .fam_info_box {
    padding: 22px 0 65px;
    display: flex;
    align-items: center;
}

.family_wrap .slide_conts .txt_wrap .fam_info_box > p {
    margin-left: 16px;
}

.family_wrap .slide_conts .txt_wrap .fam_info_box > p span {
    font-size: 15px;
    color: #101010;
}

.family_wrap .slide_conts .txt_wrap .fam_info_box > p em {
    display: block;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    color: #999;
}

.family_wrap .ui_carousel_track .slide_arrow_wrap {
    position: absolute;
    left: 0p;
    bottom: 0;
    width: 105px;
}

.family_wrap .slide_arrow_wrap .arr_area {
    position: relative;
}

.family_wrap .slide_arrow_wrap .btn_arrow {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url('/cjkit/web/images/common/ico_set.png') no-repeat;
    background-size: 800px 800px;
}

.family_wrap .slide_arrow_wrap .btn_arrow.prev {
    bottom: 0;
    left: 0;
    background-position: -540px 0;
}

.family_wrap .slide_arrow_wrap .btn_arrow.next {
    bottom: 0;
    left: 82px;
    background-position: -564px 0;
}

.family_wrap .count_wrap {
    position: absolute;
    width: 42px;
    text-align: center;
    z-index: 2;
}

.family_wrap .count_wrap .num {
    display: inline-block;
    color: #101010;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    vertical-align: middle;
    letter-spacing: 2px;
}

.family_wrap .count_wrap .num strong {
    font-weight: 500;
}

.family_wrap {
    position: relative;
    top: 0;
    left: 0;
    min-width: 1180px;
    width: 100%;
    background: url('/cjkit/web/images/common/bg_rv_container.png') repeat-x 0 0px;
    padding: 60px 0 1px 0px;
    margin-top: 85px;
}

.family_wrap.w100p {
    width: calc(100% + 726px);
    left: -365px;
    right: -365px;
}

.family_wrap.w100p .slide_wrap .ui_carousel_list:after.family_wrap .slide_wrap .ui_carousel_list:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 206px;
    height: 430px;
    background: rgba(247,247,247,0.76);
    background: linear-gradient(90deg, rgba(247,247,247,0) 0%, rgba(247,247,247,0.66) 96%);
}

.family_wrap.w100p .inner {
    width: 1180px;
    margin: 0 auto;
}

.family_wrap .count_wrap {
    right: 29px;
    bottom: -70px;
}

.family_wrap .slide_arrow_wrap .arr_area {
    padding-left: 10px;
    padding-top: 60px;
}

.family_wrap.w100p .slide_wrap .ui_carousel_list:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 206px;
    height: 335px;
    background: rgba(247,247,247,0.76);
    background: linear-gradient(90deg, rgba(247,247,247,0) 0%, rgba(247,247,247,0.66) 96%);
}

.family_wrap .slide_wrap.img_wrap {
    margin-bottom: 115px;
}

.cn_review_wrap .best_review .img_wrap.slide_wrap .item .img_wrap {
    margin-bottom: 0;
}

.family_wrap .img_wrap img {
    width: 100%;
    display: block;
}

.family_wrap .item {
    cursor: pointer;
}

.family_wrap .item .img_wrap {
    width: 333px;
    height: 333px;
    overflow: hidden;
}

.cn_review_wrap .review_bnr_wrap .taste_list, .taste_list {
    padding-top: 80px;
}

.family_wrap .img_wrap.slide_wrap .slide_arrow_wrap {
    position: absolute;
    bottom: -70px;
    right: 0;
    width: 105px;
}