<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "path/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.cart.mapper.CartMapper">
	<!-- id = 메소드이름 resultType = 반환타입 -->
	<select id="selectList" parameterType="String"
		resultType="co.yedam.cart.service.CartVO">
		select * from cart where user_Id = #{userId}
	</select>

	<insert id="insertCart" parameterType="co.yedam.cart.service.CartVO">
	<selectKey keyProperty="cartNum" resultType="int" order="BEFORE">
	    	SELECT seq_cart_no.NEXTVAL as cartNum FROM DUAL
		</selectKey>
	insert into cart values(#{cartNum},#{menuId},#{menuName},#{menuImage1},#{menuPrice},1,#{userId})
	</insert>
	
	<!-- 메뉴에 장바구니 갯수 확인하는.. -->
	<select id="cartListCheck" parameterType="String" resultType="Integer">
		select count(*) from cart where user_id = #{userId} group by user_Id
	</select>
	
	<select id="joinCartMenu">
	select c.user_id , sum(c.menu_price) as price , sum(m.menu_priceOFF) as priceOff, sum(m.menu_priceOFF-m.menu_many)as total 
	from cart c 
	left join menu m on c.menu_id = m.menu_id 
	where c.user_id = #{userId}
	group by c.user_id
	
	</select>
	
	<delete id="">
	delete from cart where cart_num = #{cartNum}
	</delete>
	
</mapper>	
