<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "path/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.cart.mapper.CartMapper">
	<!-- id = 메소드이름 resultType = 반환타입 -->
	<select id="selectList" parameterType="String"
		resultType="co.yedam.cart.service.CartVO">
		select * from cart where user_Id = #{userId}
	</select>

	<insert id="insertCart" parameterType="co.yedam.cart.service.CartVO">
	<selectKey keyProperty="cartNum" resultType="int" order="BEFORE">
	    	SELECT seq_cart_no.NEXTVAL as cartNum FROM DUAL
		</selectKey>
	insert into cart values(#{cartNum},#{menuId},#{menuName},#{menuImage1},1,#{userId})
	</insert>
	
	<!-- 메뉴에 장바구니 갯수 확인하는.. -->
	<select id="cartListCheck" parameterType="String" resultType="Integer">
		select count(*) from cart where user_id = #{userId} group by user_Id
	</select>
</mapper>	
